/* Reset some basic elements */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #444;
    margin: 0;
    padding: 0;
}


header h1 {
    font-size: 3em;
    margin: 0;
    z-index: 1;
    position: relative;
}

/* Section styling */
section {
    padding: 2rem 10%;
    background: #f9f9f9;
    margin-bottom: 20px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

section p {
    margin-bottom: 1rem;
}

section ul {
    list-style-type: disc;
    margin-left: 2rem;
    padding-left: 0;
}

section ul li {
    margin-bottom: 0.5rem;
}

/* Specific styling for recruiters list sections */
div[id^="div"] {
    z-index: 1000;
    display: none; /* Default hidden */
    line-height: 1.6; 
    padding: 90px 10px;
}

.customul {
    list-style-type: disc;
    margin-left: 2rem;
}

.customul li {
    margin-bottom: 0.5rem;
}

/* Placement Statistics styling */
section:last-of-type ul {
    list-style-type: none;
    padding-left: 0;
}

section:last-of-type ul li {
    margin-bottom: 0.5rem;
}

section:last-of-type ul li strong {
    color: #222;
}
