/* facilities.css */

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}


header h1 {
    margin: 0;
    font-size: 3em;
}

main {
    padding: 3rem;
}

section {
    margin-bottom: 2rem;
    background: white;
    padding-top: 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #00796b; /* Teal color for section headings */
}

section p {
    margin-bottom: 1rem;
}

